{% extends "base.html" %}

{% block title %}All Game Nights{% endblock %}

{% block content %}
<div class="game-night-container">
    <h1>All Game Nights</h1>

    <ul class="game-nights">
        {% for gn in game_nights %}
            <li>
                <a href="{{ url_for('game_night.view_game_night', game_night_id=gn.game_night_id) }}" class="game-night-card">
                    {{ gn.date.strftime('%B %d, %Y') }}
                </a>
            </li>
        {% else %}
            <li class="empty-state">No game nights found.</li>
        {% endfor %}
    </ul>

    <div class="admin-panel__back-home">
        <a href="{{ url_for('main.index') }}" class="btn btn--primary">Back to Home</a>
    </div>
</div>
{% endblock %}
